* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rocket-icon {
  height: 75px;
  padding: 15%;
}

.nav-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nav-icon {
  height: 45px;
  margin-bottom: 15%;
  padding: 7.5%;
}

.nav-icon:first-of-type {
  border-left: 3px solid #FF7816;
}

main {
  display: flex;
  width: 100%;
}

section {
  border: 1px solid blue;
}

.left-section,
.right-section {
  width: 50%;
  padding: 1.5% 2.5%;
}

/* ---- LEFT SIDE ---- */

.greeting-banner {
  font-size: 200%;
  padding: 3%;
  border-radius: 6px;
  background-color: blanchedalmond;
}

.current-numbers {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  margin-bottom: 5%;
}

.current-num-card {
  border-radius: 6px;
  width: 30%;
  padding: 3%;
  font-size: 120%;
  background-color: blanchedalmond;
}

.accounts-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}

.add-acct {
  border-radius: 50px;
  padding: 1% 2%;
}

.account-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  margin-bottom: 1%;
  border-radius: 3px;
  background-color: papayawhip;
}

/* ---- RIGHT SIDE ---- */
.category-btn {

}

.form-inputs {
  display: flex;
  flex-direction: column;
}

.typed-input {
  display: block;
  margin-bottom: 2%;
  font-size: 120%;
}
